.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
	height: 40px;
	margin-bottom: 50px;
}

a{
	text-decoration:none; 
	color: rgb(27, 27, 27);
}

a:hover{
	color: rgb(0, 0, 0);
	background-color: rgb(248, 248, 248);
}

.login-form input{
	margin: 5px;
	width: 180px;
}
.login-form button{
	margin: 5px;
	margin-top: 0px;
	padding: 0 5px;
}

.login-dropdown{
    position: absolute;
    top: 40px;
    right: 130px;
    background-color: white;
    z-index: 20;
	display: none;
	border: 1px solid black;
}

.login-form-button{
	float: right;
}



.menu-dropdown{
    position: absolute;
    top: 40px;
    background-color: white;
    right: 20px;
    padding: 5px;
    z-index: 20;
	display: none;
	border: 1px solid black;
	
}

.header-nav a{
	margin: 0 10px;
	padding: 0 5px;
	border: 1px solid black;

}

.menu-dropdown ul{
	list-style-type: none;
}

