.restaurant-td{
    text-align: left;
    font-size: 30px;
    color : darkcyan;
    font-family: "DejaVu Serif", serif;


}

.info-td{
    text-align: left;
    padding-right:20px;
    font-weight: bold;
}

#orderCards{
    display: flex;
    flex-wrap: wrap;
}

.button-td{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

.restaurant-table {
    margin-left: 20px;
    margin-right: 20px;
    table-layout: fixed;
    width: 40%;
}
.order-td{
    text-align: left;
}