.item-td{
    text-align: left;

}
.order-td{
    text-align: left;
    font-size: 25px;
    color : darkcyan;
    font-family: "DejaVu Serif", serif;
}

.item-detail-td{
    padding-right: 20px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}