.shopping-cart{
    position:absolute;
    right:0;
    top:0;
}

.items-table td{
    padding-right: 30px;
}

.items-table tr h3{
    padding-top: 30px;
}

.shopping-cart-table td{
    padding-right: 15px;
}

.item-td {
    cursor: pointer;
}

.item-td:hover{
    background-color: lightgrey;
}

