*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#restaurantCards{
    display: flex;
    flex-wrap: wrap;
}
.restaurantCard{
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
    width: 170px;
}

.main-page-container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.display-block{
    display: block;
}

#add-new-restaurant-card h1{
    text-align: center;
    margin-top: 20px;
}

#add-new-restaurant-card small{
    display: block;
    text-align: center;
}

.food-delivery-title{
    font-size: 25px;
    font-family: "DejaVu Serif", serif;
}
